/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #f1f1f1;
}

.general{
    display: grid;
    grid-template-rows: repeat(2, auto);
    width: 90%;
    max-width: 1024px;
    margin: 20px auto;
    grid-gap: 15px;
}

.general .title,
.general .begin{
    padding: 10px;
    margin: 0 25px;
    grid-row: 1/2
}

/* Title*/
.general .title h1{
    font-size: 28px;
    font-weight: 500;
    color: #4E5150;
}

/* Main */

.general .begin{
    display: grid;
    grid-row: 2/4;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: repeat(4,1fr);
    
}

/* Inputs */
.general .begin .info-input{
    grid-column: 1/3;
    display: grid;
    grid-template-rows: repeat(5, auto);
}

.general .begin .info-input .subtitle-info{
    margin: 10px 0;
    height: 25px;
    font-size: 15px;
    color: #333333; 
}

/* Input description */
.general .begin .info-input .description{
    grid-row: 2/3;
}

/* Style Inputs*/
.general .begin .info-input .description input[type="email"],
.general .begin .info-input .description input[type="tel"],
.general .begin .info-input .shipping input[type="text"],
.general .begin .info-input .shipping input[type="name"],
.general .begin .info-input .info .icon-placeholder{
    width: 450px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin: 10px 0;
    padding: 15px
}
/* Icon placeholder */
.general .begin .info-input .description input::placeholder,
.general .begin .info-input .shipping input::placeholder,
.general .begin .info-input .info input::placeholder,
.general .begin .info-input .info select:first-of-type{
    font-family: "Font Awesome 5 Free", 'Ubuntu', sans-serif; 
    font-weight: 900;
    font-size: 16px;
    color: #5f5f5f;
}

.general .begin .info-input .description .input label,
.general .begin .info-input .shipping .input label,
.general .begin .info-input .info .input label{
    font-size: 12px;
    color: #4F4F4F;
    font-weight: 500;
}

.general .begin .info-input .description,
.general .begin .info-input .shipping{
    margin: 15px 0 ;
}

/* Shipping*/
.general .begin .info-input .shipping{
    grid-row: 3/4;
}

.general .begin .info-input .info{
    grid-row: 4;
    display: flex;
    flex-direction: row;
    margin: -10px 0;
}

/* Shipping info*/

.general .begin .info-input .info .icon-placeholder{
    width: 220px;
    padding: 0;
}


.general .begin .info-input .info .input:nth-of-type(2){
    margin-left: 10px;
}

.general .begin .info-input .submit-check{
    grid-row: 5;
    margin: 15px 5px;
    display: flex;
    flex-direction: row;
}

/* Cursor */
.general .begin .info-input .submit-check input[type="checkbox"],
.general .begin .info-input .info select:first-of-type,
.general .begin .info-input .boton button[type="submit"]{
    cursor: pointer;
}

.general .begin .info-input .submit-check .text-help{
    margin-left: 10px;
    color: #4E5150;
    font-size: 13px;
}

/* Boton */
.general .begin .info-input .boton{
    grid-row: 6;
    display: flex;
    justify-content: space-around;
}

.general .begin .info-input .boton button[type="submit"]{
    width: 160px;
    height: 45px;
    border-radius: 15px;
    border: none;
    background-color: #F2994A;
    color: #efefee;
    font-size: 17px;
    padding: 10px;
}

/* Total price */

.general .begin .info-ouput{
    grid-column: 3/5;
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 10px;
    place-items: center;
}


.general .begin .info-ouput .box-info{
    grid-row: 1/3;
    width: 85%;
    padding: 15px;
    border: 1px solid #32afe9;
    background-color: #e0e0e0ce;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 15px;
    place-items: center;
}
.general .begin .info-ouput .box{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
}

.general .begin .info-ouput .box.cant{
    grid-row: 1/3;
    border: 1px solid #000;
}

/* Imagen del producto*/
.general .begin .info-ouput .box .img{
    width: 125px;
    border-radius: 10px;
}

.general .begin .info-ouput .box.price{
    grid-row: 3/4;
    grid-column: 1/3;
    border: 1px solid #000;
    display: grid;
}

.general .begin .info-ouput .img-produc-uno{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 10px;
}

.general .begin .info-ouput .img-produc-dos{
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 10px;
}

/* Precios */
.general .begin .info-ouput .box.price .costo-total,
.general .begin .info-ouput .box.price .costo-envio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.general .begin .info-ouput .box.price .costo-envio{
    grid-row: 1/2;
    grid-column: 1/4;
}


/* Total */
.general .begin .info-ouput .box.price .costo-total{
    grid-row: 2/2;
    grid-column: 1/4;
}